In [45]:
import pandas as pd
import requests
import math
from decimal import Decimal

In [46]:
symbol = "SOLUSDT"
url = "https://api.binance.com/api/v1/depth"

interval = Decimal('0.1')

params = {
    "symbol": symbol,
    "limit": 100,
}

In [47]:
# bids: [price, volume], asks: [price, volume]
data = requests.get(url, params).json()
print(data)

{'lastUpdateId': 25307587848, 'bids': [['185.50000000', '192.01400000'], ['185.49000000', '182.56700000'], ['185.48000000', '397.88700000'], ['185.47000000', '284.92900000'], ['185.46000000', '193.05100000'], ['185.45000000', '307.06100000'], ['185.44000000', '135.61700000'], ['185.43000000', '400.36700000'], ['185.42000000', '841.89800000'], ['185.41000000', '382.68000000'], ['185.40000000', '277.17400000'], ['185.39000000', '307.74300000'], ['185.38000000', '436.63700000'], ['185.37000000', '282.78900000'], ['185.36000000', '193.20100000'], ['185.35000000', '389.96100000'], ['185.34000000', '629.17000000'], ['185.33000000', '358.82000000'], ['185.32000000', '634.58000000'], ['185.31000000', '185.64000000'], ['185.30000000', '506.96200000'], ['185.29000000', '344.42400000'], ['185.28000000', '198.75100000'], ['185.27000000', '350.52400000'], ['185.26000000', '384.43400000'], ['185.25000000', '229.55600000'], ['185.24000000', '359.61600000'], ['185.23000000', '475.41100000'], ['185.22000000', '570.18200000'], ['185.21000000', '126.41200000'], ['185.20000000', '158.92000000'], ['185.19000000', '178.51800000'], ['185.18000000', '231.39900000'], ['185.17000000', '309.85400000'], ['185.16000000', '726.48600000'], ['185.15000000', '173.86500000'], ['185.14000000', '254.99500000'], ['185.13000000', '233.37100000'], ['185.12000000', '252.74500000'], ['185.11000000', '515.67200000'], ['185.10000000', '112.97400000'], ['185.09000000', '114.79500000'], ['185.08000000', '496.11500000'], ['185.07000000', '126.01900000'], ['185.06000000', '304.86200000'], ['185.05000000', '434.38800000'], ['185.04000000', '269.80300000'], ['185.03000000', '158.86100000'], ['185.02000000', '204.06200000'], ['185.01000000', '1589.26500000'], ['185.00000000', '914.25500000'], ['184.99000000', '30.65300000'], ['184.98000000', '89.79900000'], ['184.97000000', '584.56800000'], ['184.96000000', '5.99800000'], ['184.95000000', '385.92700000'], ['184.94000000', '34.70900000'], ['184.93000000', '773.96300000'], ['184.92000000', '53.24600000'], ['184.91000000', '2423.19400000'], ['184.90000000', '172.74100000'], ['184.89000000', '16.13500000'], ['184.88000000', '154.52000000'], ['184.87000000', '12.09800000'], ['184.86000000', '271.57500000'], ['184.85000000', '1266.30100000'], ['184.84000000', '0.71200000'], ['184.83000000', '0.51200000'], ['184.82000000', '7.59000000'], ['184.81000000', '1.60400000'], ['184.80000000', '1085.48000000'], ['184.79000000', '541.96000000'], ['184.78000000', '1.18300000'], ['184.77000000', '0.15400000'], ['184.76000000', '3.53400000'], ['184.75000000', '3.81300000'], ['184.74000000', '198.79100000'], ['184.73000000', '34.09000000'], ['184.72000000', '29.72600000'], ['184.71000000', '4.15200000'], ['184.70000000', '19.51500000'], ['184.69000000', '1.37800000'], ['184.68000000', '12.99900000'], ['184.67000000', '7.38900000'], ['184.66000000', '6.59300000'], ['184.65000000', '3.40300000'], ['184.64000000', '0.75800000'], ['184.63000000', '1.20300000'], ['184.62000000', '23.52300000'], ['184.61000000', '1.27300000'], ['184.60000000', '1214.90500000'], ['184.59000000', '205.43400000'], ['184.58000000', '495.06300000'], ['184.57000000', '562.58300000'], ['184.56000000', '10.44800000'], ['184.55000000', '3.79700000'], ['184.54000000', '0.75400000'], ['184.53000000', '0.41600000'], ['184.52000000', '147.46700000'], ['184.51000000', '2.18600000']], 'asks': [['185.51000000', '107.44400000'], ['185.52000000', '143.43300000'], ['185.53000000', '152.00500000'], ['185.54000000', '169.03400000'], ['185.55000000', '202.55700000'], ['185.56000000', '256.98400000'], ['185.57000000', '226.08100000'], ['185.58000000', '307.38900000'], ['185.59000000', '236.83200000'], ['185.60000000', '468.93800000'], ['185.61000000', '306.31700000'], ['185.62000000', '291.88100000'], ['185.63000000', '338.51900000'], ['185.64000000', '592.22000000'], ['185.65000000', '462.04800000'], ['185.66000000', '226.32200000'], ['185.67000000', '181.09400000'], ['185.68000000', '387.63300000'], ['185.69000000', '184.74800000'], ['185.70000000', '243.05900000'], ['185.71000000', '588.21700000'], ['185.72000000', '403.52600000'], ['185.73000000', '187.73800000'], ['185.74000000', '123.01700000'], ['185.75000000', '232.38500000'], ['185.76000000', '554.43300000'], ['185.77000000', '389.97200000'], ['185.78000000', '277.38600000'], ['185.79000000', '268.66400000'], ['185.80000000', '605.14500000'], ['185.81000000', '159.12700000'], ['185.82000000', '314.67400000'], ['185.83000000', '312.06600000'], ['185.84000000', '532.24900000'], ['185.85000000', '194.38400000'], ['185.86000000', '293.99600000'], ['185.87000000', '193.95300000'], ['185.88000000', '127.93200000'], ['185.89000000', '175.17900000'], ['185.90000000', '188.14300000'], ['185.91000000', '66.99100000'], ['185.92000000', '107.60100000'], ['185.93000000', '286.31400000'], ['185.94000000', '304.49100000'], ['185.95000000', '456.01200000'], ['185.96000000', '22.17100000'], ['185.97000000', '34.23700000'], ['185.98000000', '16.77300000'], ['185.99000000', '1102.08600000'], ['186.00000000', '65.12000000'], ['186.01000000', '25.41600000'], ['186.02000000', '187.09200000'], ['186.03000000', '0.58600000'], ['186.04000000', '0.57600000'], ['186.05000000', '79.66800000'], ['186.06000000', '0.71500000'], ['186.07000000', '447.55600000'], ['186.08000000', '429.31900000'], ['186.09000000', '19.74500000'], ['186.10000000', '0.17300000'], ['186.11000000', '49.47600000'], ['186.12000000', '0.90400000'], ['186.13000000', '1384.10900000'], ['186.14000000', '140.48700000'], ['186.15000000', '23.76700000'], ['186.16000000', '27.83600000'], ['186.17000000', '291.97500000'], ['186.18000000', '0.35700000'], ['186.19000000', '0.72200000'], ['186.20000000', '0.35200000'], ['186.21000000', '0.15200000'], ['186.22000000', '17.37400000'], ['186.23000000', '66.18700000'], ['186.24000000', '49.85200000'], ['186.25000000', '0.29700000'], ['186.26000000', '1.63100000'], ['186.27000000', '429.27000000'], ['186.28000000', '3.22200000'], ['186.29000000', '0.43300000'], ['186.30000000', '2.32900000'], ['186.31000000', '560.99200000'], ['186.32000000', '1413.27200000'], ['186.33000000', '0.75100000'], ['186.34000000', '22.05800000'], ['186.35000000', '9.60900000'], ['186.36000000', '38.66300000'], ['186.37000000', '12.82300000'], ['186.38000000', '0.17700000'], ['186.39000000', '0.15500000'], ['186.40000000', '17.38600000'], ['186.41000000', '0.35500000'], ['186.42000000', '1220.33100000'], ['186.43000000', '1.66700000'], ['186.44000000', '441.07300000'], ['186.45000000', '8.11400000'], ['186.46000000', '148.36400000'], ['186.47000000', '279.52400000'], ['186.48000000', '176.68100000'], ['186.49000000', '553.82100000'], ['186.50000000', '7.19300000']]}

## Aggregating Bids Levels

In [48]:
bids_levels = pd.DataFrame(data['bids'], columns=['price', 'quantity'], dtype=float)
bids_levels['side'] = 'bid'
print(bids_levels)
print(bids_levels.dtypes)

     price  quantity side
0   185.50   192.014  bid
1   185.49   182.567  bid
2   185.48   397.887  bid
3   185.47   284.929  bid
4   185.46   193.051  bid
..     ...       ...  ...
95  184.55     3.797  bid
96  184.54     0.754  bid
97  184.53     0.416  bid
98  184.52   147.467  bid
99  184.51     2.186  bid

[100 rows x 3 columns]
price       float64
quantity    float64
side         object
dtype: object

In [49]:
min_bid_level = math.floor(min(bids_levels['price']) / float(interval)) * interval
min_bid_level

Decimal('184.5')

In [50]:
max_bid_level = (math.ceil(max(bids_levels['price']) / float(interval)) + 1) * interval
max_bid_level

Decimal('185.6')

In [51]:
bid_levels_bounds = [float(min_bid_level + interval * i)
    for i in range(int((max_bid_level - min_bid_level) / interval) + 1)
]
bid_levels_bounds

[184.5,
 184.6,
 184.7,
 184.8,
 184.9,
 185.0,
 185.1,
 185.2,
 185.3,
 185.4,
 185.5,
 185.6]

In [52]:
bids_levels["bin"] = pd.cut(
    bids_levels['price'],
    bins=bid_levels_bounds,
    right=False,
    precision=10
)
bids_levels

     price  quantity side             bin
0   185.50   192.014  bid  [185.5, 185.6)
1   185.49   182.567  bid  [185.4, 185.5)
2   185.48   397.887  bid  [185.4, 185.5)
3   185.47   284.929  bid  [185.4, 185.5)
4   185.46   193.051  bid  [185.4, 185.5)
..     ...       ...  ...             ...
95  184.55     3.797  bid  [184.5, 184.6)
96  184.54     0.754  bid  [184.5, 184.6)
97  184.53     0.416  bid  [184.5, 184.6)
98  184.52   147.467  bid  [184.5, 184.6)
99  184.51     2.186  bid  [184.5, 184.6)

[100 rows x 4 columns]

In [53]:
bids_levels = bids_levels.groupby("bin").agg(
    quantity = ("quantity", "sum"),
    side = ("side", "first")
).reset_index()

bids_levels['label'] = bids_levels['bin'].apply(lambda x: x.left)
bids_levels

C:\Users\Saksham Maggu\AppData\Local\Temp\ipykernel_24320\1399697312.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  bids_levels = bids_levels.groupby("bin").agg(

               bin  quantity side  label
0   [184.5, 184.6)  1428.148  bid  184.5
1   [184.6, 184.7)  1273.424  bid  184.6
2   [184.7, 184.8)   836.918  bid  184.7
3   [184.8, 184.9)  2816.527  bid  184.8
4   [184.9, 185.0)  4554.798  bid  184.9
5   [185.0, 185.1)  4612.425  bid  185.0
6   [185.1, 185.2)  2989.879  bid  185.1
7   [185.2, 185.3)  3198.230  bid  185.2
8   [185.3, 185.4)  3925.503  bid  185.3
9   [185.4, 185.5)  3403.231  bid  185.4
10  [185.5, 185.6)   192.014  bid  185.5