In [35]:
import requests
import pandas as pd

In [36]:
url = f"https://api.binance.com/api/v3/depth"
params = {
    "symbol": "SOLUSDT",
    "limit": 100
}

In [37]:
orderbook_data = requests.get(url, params=params).json()
orderbook_data

{'lastUpdateId': 25881751493,
 'bids': [['154.44000000', '177.50100000'],
  ['154.43000000', '47.99400000'],
  ['154.42000000', '132.87400000'],
  ['154.41000000', '202.48400000'],
  ['154.40000000', '261.71400000'],
  ['154.39000000', '1045.47800000'],
  ['154.38000000', '2125.78200000'],
  ['154.37000000', '420.71900000'],
  ['154.36000000', '866.70400000'],
  ['154.35000000', '956.16900000'],
  ['154.34000000', '253.12900000'],
  ['154.33000000', '299.31300000'],
  ['154.32000000', '374.72800000'],
  ['154.31000000', '2136.07300000'],
  ['154.30000000', '3718.99900000'],
  ['154.29000000', '281.44500000'],
  ['154.28000000', '956.66000000'],
  ['154.27000000', '880.01000000'],
  ['154.26000000', '189.19700000'],
  ['154.25000000', '112.34300000'],
  ['154.24000000', '250.79700000'],
  ['154.23000000', '877.16600000'],
  ['154.22000000', '216.48800000'],
  ['154.21000000', '171.13500000'],
  ['154.20000000', '336.34100000'],
  ['154.19000000', '1081.71000000'],
  ['154.18000000', '935.34400000'],
  ['154.17000000', '95.71600000'],
  ['154.16000000', '273.38900000'],
  ['154.15000000', '748.74400000'],
  ['154.14000000', '136.06700000'],
  ['154.13000000', '359.74000000'],
  ['154.12000000', '839.62100000'],
  ['154.11000000', '1008.15600000'],
  ['154.10000000', '699.97400000'],
  ['154.09000000', '354.45700000'],
  ['154.08000000', '223.03000000'],
  ['154.07000000', '400.64100000'],
  ['154.06000000', '179.90700000'],
  ['154.05000000', '80.02600000'],
  ['154.04000000', '136.14100000'],
  ['154.03000000', '95.48700000'],
  ['154.02000000', '183.76500000'],
  ['154.01000000', '607.60300000'],
  ['154.00000000', '1509.47400000'],
  ['153.99000000', '158.17600000'],
  ['153.98000000', '55.35600000'],
  ['153.97000000', '75.77700000'],
  ['153.96000000', '93.29700000'],
  ['153.95000000', '15.36400000'],
  ['153.94000000', '847.35400000'],
  ['153.93000000', '508.79100000'],
  ['153.92000000', '53.33100000'],
  ['153.91000000', '195.58600000'],
  ['153.90000000', '252.16600000'],
  ['153.89000000', '1013.99300000'],
  ['153.88000000', '685.63500000'],
  ['153.87000000', '5.10000000'],
  ['153.86000000', '18.39200000'],
  ['153.85000000', '455.24600000'],
  ['153.84000000', '21.44500000'],
  ['153.83000000', '2.71700000'],
  ['153.82000000', '21.37500000'],
  ['153.81000000', '12.06100000'],
  ['153.80000000', '36.90900000'],
  ['153.79000000', '27.24700000'],
  ['153.78000000', '1584.00800000'],
  ['153.77000000', '2.76900000'],
  ['153.76000000', '17.87500000'],
  ['153.75000000', '28.10100000'],
  ['153.74000000', '635.24000000'],
  ['153.73000000', '651.93500000'],
  ['153.72000000', '2240.52200000'],
  ['153.71000000', '0.42400000'],
  ['153.70000000', '164.18600000'],
  ['153.69000000', '28.32900000'],
  ['153.68000000', '22.83400000'],
  ['153.67000000', '296.08200000'],
  ['153.66000000', '20.90600000'],
  ['153.65000000', '0.47300000'],
  ['153.64000000', '29.68600000'],
  ['153.63000000', '1.62500000'],
  ['153.62000000', '41.20300000'],
  ['153.61000000', '3.01100000'],
  ['153.60000000', '113.51600000'],
  ['153.59000000', '12.70300000'],
  ['153.58000000', '17.34300000'],
  ['153.57000000', '1.47900000'],
  ['153.56000000', '17.92700000'],
  ['153.55000000', '7.16000000'],
  ['153.54000000', '2.01800000'],
  ['153.53000000', '653.36300000'],
  ['153.52000000', '500.32300000'],
  ['153.51000000', '2.58300000'],
  ['153.50000000', '3331.21500000'],
  ['153.49000000', '0.28100000'],
  ['153.48000000', '18.80400000'],
  ['153.47000000', '254.05200000'],
  ['153.46000000', '22.48900000'],
  ['153.45000000', '3.32100000']],
 'asks': [['154.45000000', '55.70100000'],
  ['154.46000000', '53.73600000'],
  ['154.47000000', '106.63000000'],
  ['154.48000000', '100.45100000'],
  ['154.49000000', '196.23300000'],
  ['154.50000000', '392.54300000'],
  ['154.51000000', '219.53600000'],
  ['154.52000000', '427.59500000'],
  ['154.53000000', '926.27700000'],
  ['154.54000000', '287.10400000'],
  ['154.55000000', '143.56200000'],
  ['154.56000000', '410.82100000'],
  ['154.57000000', '960.69900000'],
  ['154.58000000', '312.90500000'],
  ['154.59000000', '115.66900000'],
  ['154.60000000', '974.71000000'],
  ['154.61000000', '907.51800000'],
  ['154.62000000', '278.69900000'],
  ['154.63000000', '310.59600000'],
  ['154.64000000', '233.07800000'],
  ['154.65000000', '143.76800000'],
  ['154.66000000', '914.90500000'],
  ['154.67000000', '579.62400000'],
  ['154.68000000', '79.38900000'],
  ['154.69000000', '79.40600000'],
  ['154.70000000', '1013.72600000'],
  ['154.71000000', '575.46700000'],
  ['154.72000000', '146.18500000'],
  ['154.73000000', '371.16200000'],
  ['154.74000000', '818.68900000'],
  ['154.75000000', '802.07600000'],
  ['154.76000000', '98.31100000'],
  ['154.77000000', '82.88500000'],
  ['154.78000000', '165.23400000'],
  ['154.79000000', '632.13500000'],
  ['154.80000000', '157.35700000'],
  ['154.81000000', '380.65000000'],
  ['154.82000000', '2264.52900000'],
  ['154.83000000', '275.58900000'],
  ['154.84000000', '110.12100000'],
  ['154.85000000', '87.68400000'],
  ['154.86000000', '779.41600000'],
  ['154.87000000', '754.07700000'],
  ['154.88000000', '76.94900000'],
  ['154.89000000', '2014.42000000'],
  ['154.90000000', '38.17200000'],
  ['154.91000000', '191.77800000'],
  ['154.92000000', '0.22500000'],
  ['154.93000000', '32.11500000'],
  ['154.94000000', '17.48100000'],
  ['154.95000000', '510.42600000'],
  ['154.96000000', '223.29600000'],
  ['154.97000000', '17.20300000'],
  ['154.98000000', '0.51200000'],
  ['154.99000000', '17.20300000'],
  ['155.00000000', '347.04200000'],
  ['155.01000000', '0.78300000'],
  ['155.02000000', '17.23600000'],
  ['155.03000000', '0.14500000'],
  ['155.04000000', '17.48700000'],
  ['155.05000000', '25.48900000'],
  ['155.06000000', '667.75800000'],
  ['155.07000000', '459.97100000'],
  ['155.08000000', '17.48900000'],
  ['155.09000000', '31.82200000'],
  ['155.10000000', '52.61200000'],
  ['155.11000000', '0.10300000'],
  ['155.12000000', '5.27400000'],
  ['155.13000000', '18.16300000'],
  ['155.14000000', '0.36400000'],
  ['155.15000000', '18.58600000'],
  ['155.16000000', '2506.87200000'],
  ['155.17000000', '25.46600000'],
  ['155.18000000', '3.79800000'],
  ['155.19000000', '23.45500000'],
  ['155.20000000', '1.27300000'],
  ['155.21000000', '661.92200000'],
  ['155.22000000', '153.69400000'],
  ['155.23000000', '736.45100000'],
  ['155.24000000', '0.95100000'],
  ['155.25000000', '17.17000000'],
  ['155.26000000', '1.34500000'],
  ['155.27000000', '17.40600000'],
  ['155.28000000', '0.25200000'],
  ['155.29000000', '0.43500000'],
  ['155.30000000', '7.91900000'],
  ['155.31000000', '17.17300000'],
  ['155.32000000', '7.21100000'],
  ['155.33000000', '17.84200000'],
  ['155.34000000', '30.67500000'],
  ['155.35000000', '0.15100000'],
  ['155.36000000', '644.40000000'],
  ['155.37000000', '47.25200000'],
  ['155.38000000', '0.84000000'],
  ['155.39000000', '0.06300000'],
  ['155.40000000', '1.98700000'],
  ['155.41000000', '9.48300000'],
  ['155.42000000', '22.19000000'],
  ['155.43000000', '0.03500000'],
  ['155.45000000', '1.45700000']]}

### Calculating orderbook imbalances

In [38]:
orderbook_bid_levels = pd.DataFrame(orderbook_data['bids'], columns=['price', 'quantity'], dtype=float)
orderbook_bid_levels["side"] = "bid"
orderbook_bid_levels

     price  quantity side
0   154.44   177.501  bid
1   154.43    47.994  bid
2   154.42   132.874  bid
3   154.41   202.484  bid
4   154.40   261.714  bid
..     ...       ...  ...
95  153.49     0.281  bid
96  153.48    18.804  bid
97  153.47   254.052  bid
98  153.46    22.489  bid
99  153.45     3.321  bid

[100 rows x 3 columns]

In [39]:
orderbook_ask_levels = pd.DataFrame(orderbook_data['asks'], columns=['price', 'quantity'], dtype=float)
orderbook_ask_levels["side"] = "ask"
orderbook_ask_levels

     price  quantity side
0   154.45    55.701  ask
1   154.46    53.736  ask
2   154.47   106.630  ask
3   154.48   100.451  ask
4   154.49   196.233  ask
..     ...       ...  ...
95  155.40     1.987  ask
96  155.41     9.483  ask
97  155.42    22.190  ask
98  155.43     0.035  ask
99  155.45     1.457  ask

[100 rows x 3 columns]

In [40]:
orderbook_concat = pd.concat([orderbook_bid_levels, orderbook_ask_levels]).sort_values(by="price", ascending=False)
orderbook_concat = orderbook_concat.reset_index(drop=True)
orderbook_concat

      price  quantity side
0    155.45     1.457  ask
1    155.43     0.035  ask
2    155.42    22.190  ask
3    155.41     9.483  ask
4    155.40     1.987  ask
..      ...       ...  ...
195  153.49     0.281  bid
196  153.48    18.804  bid
197  153.47   254.052  bid
198  153.46    22.489  bid
199  153.45     3.321  bid

[200 rows x 3 columns]