In [44]:
import requests
import pandas as pd

In [45]:
url = f"https://api.binance.com/api/v3/depth"
params = {
    "symbol": "SOLUSDT",
    "limit": 100
}

In [46]:
orderbook_data = requests.get(url, params=params).json()
orderbook_data

{'lastUpdateId': 25927112128,
 'bids': [['156.34000000', '725.63900000'],
  ['156.33000000', '268.48100000'],
  ['156.32000000', '361.26800000'],
  ['156.31000000', '422.10300000'],
  ['156.30000000', '442.81900000'],
  ['156.29000000', '178.44100000'],
  ['156.28000000', '365.26800000'],
  ['156.27000000', '309.21800000'],
  ['156.26000000', '224.57400000'],
  ['156.25000000', '236.28600000'],
  ['156.24000000', '309.92000000'],
  ['156.23000000', '214.24500000'],
  ['156.22000000', '646.63200000'],
  ['156.21000000', '1629.50200000'],
  ['156.20000000', '1196.73900000'],
  ['156.19000000', '242.91100000'],
  ['156.18000000', '628.52500000'],
  ['156.17000000', '1331.52200000'],
  ['156.16000000', '1053.22600000'],
  ['156.15000000', '1613.42900000'],
  ['156.14000000', '439.49900000'],
  ['156.13000000', '1342.51000000'],
  ['156.12000000', '166.12100000'],
  ['156.11000000', '702.81900000'],
  ['156.10000000', '2140.51500000'],
  ['156.09000000', '341.83400000'],
  ['156.08000000', '1196.75200000'],
  ['156.07000000', '1202.34500000'],
  ['156.06000000', '342.40900000'],
  ['156.05000000', '655.83000000'],
  ['156.04000000', '364.09600000'],
  ['156.03000000', '1139.47800000'],
  ['156.02000000', '164.30800000'],
  ['156.01000000', '327.65800000'],
  ['156.00000000', '849.98700000'],
  ['155.99000000', '251.10000000'],
  ['155.98000000', '301.36000000'],
  ['155.97000000', '231.16400000'],
  ['155.96000000', '717.61500000'],
  ['155.95000000', '107.88300000'],
  ['155.94000000', '65.95500000'],
  ['155.93000000', '105.13800000'],
  ['155.92000000', '80.40700000'],
  ['155.91000000', '251.59100000'],
  ['155.90000000', '54.40600000'],
  ['155.89000000', '64.29800000'],
  ['155.88000000', '851.74100000'],
  ['155.87000000', '65.20600000'],
  ['155.86000000', '18.19200000'],
  ['155.85000000', '60.48100000'],
  ['155.84000000', '648.91300000'],
  ['155.83000000', '25.31100000'],
  ['155.82000000', '11.17200000'],
  ['155.81000000', '541.00900000'],
  ['155.80000000', '444.22300000'],
  ['155.79000000', '21.26300000'],
  ['155.78000000', '5.23600000'],
  ['155.77000000', '17.45800000'],
  ['155.76000000', '21.10900000'],
  ['155.75000000', '21.98300000'],
  ['155.74000000', '5.93800000'],
  ['155.73000000', '17.17000000'],
  ['155.72000000', '1638.71500000'],
  ['155.71000000', '473.29900000'],
  ['155.70000000', '45.03500000'],
  ['155.69000000', '646.20800000'],
  ['155.68000000', '257.99900000'],
  ['155.67000000', '51.35100000'],
  ['155.66000000', '2801.29400000'],
  ['155.65000000', '17.62400000'],
  ['155.64000000', '11.41600000'],
  ['155.63000000', '154.25200000'],
  ['155.62000000', '31.14100000'],
  ['155.61000000', '18.08000000'],
  ['155.60000000', '310.95400000'],
  ['155.59000000', '27.24400000'],
  ['155.58000000', '2.47300000'],
  ['155.57000000', '1.48400000'],
  ['155.56000000', '70.54800000'],
  ['155.55000000', '35.59000000'],
  ['155.54000000', '9.65500000'],
  ['155.53000000', '643.42100000'],
  ['155.52000000', '13.63900000'],
  ['155.51000000', '465.53200000'],
  ['155.50000000', '534.59600000'],
  ['155.49000000', '21.08500000'],
  ['155.48000000', '8.66000000'],
  ['155.47000000', '0.44000000'],
  ['155.46000000', '1.85900000'],
  ['155.45000000', '40.80000000'],
  ['155.44000000', '176.06700000'],
  ['155.43000000', '1.30800000'],
  ['155.42000000', '1.62600000'],
  ['155.41000000', '18.69300000'],
  ['155.40000000', '9.66000000'],
  ['155.39000000', '0.48500000'],
  ['155.38000000', '2.83400000'],
  ['155.37000000', '88.70000000'],
  ['155.36000000', '136.84900000'],
  ['155.35000000', '3.76700000']],
 'asks': [['156.35000000', '101.09600000'],
  ['156.36000000', '10.91000000'],
  ['156.37000000', '54.81400000'],
  ['156.38000000', '106.36400000'],
  ['156.39000000', '106.37700000'],
  ['156.40000000', '106.96000000'],
  ['156.41000000', '423.01900000'],
  ['156.42000000', '223.00600000'],
  ['156.43000000', '174.02200000'],
  ['156.44000000', '796.18600000'],
  ['156.45000000', '673.81400000'],
  ['156.46000000', '1493.11900000'],
  ['156.47000000', '341.12200000'],
  ['156.48000000', '118.82100000'],
  ['156.49000000', '199.86700000'],
  ['156.50000000', '143.96100000'],
  ['156.51000000', '1274.26200000'],
  ['156.52000000', '580.11600000'],
  ['156.53000000', '98.29300000'],
  ['156.54000000', '183.82200000'],
  ['156.55000000', '1151.86900000'],
  ['156.56000000', '48.02500000'],
  ['156.57000000', '89.96900000'],
  ['156.58000000', '750.56400000'],
  ['156.59000000', '1827.41400000'],
  ['156.60000000', '718.61500000'],
  ['156.61000000', '117.48400000'],
  ['156.62000000', '176.14800000'],
  ['156.63000000', '1595.73700000'],
  ['156.64000000', '338.34400000'],
  ['156.65000000', '193.55200000'],
  ['156.66000000', '200.86200000'],
  ['156.67000000', '139.43600000'],
  ['156.68000000', '848.75800000'],
  ['156.69000000', '1118.05400000'],
  ['156.70000000', '529.71900000'],
  ['156.71000000', '0.15000000'],
  ['156.72000000', '118.57500000'],
  ['156.73000000', '1099.14300000'],
  ['156.74000000', '19.38100000'],
  ['156.75000000', '18.74800000'],
  ['156.76000000', '537.87100000'],
  ['156.77000000', '1181.37000000'],
  ['156.78000000', '5.33300000'],
  ['156.79000000', '17.95200000'],
  ['156.80000000', '81.84000000'],
  ['156.81000000', '0.15000000'],
  ['156.82000000', '2.04000000'],
  ['156.83000000', '0.32400000'],
  ['156.84000000', '0.24500000'],
  ['156.85000000', '529.61700000'],
  ['156.86000000', '0.13400000'],
  ['156.87000000', '18.76200000'],
  ['156.88000000', '1.57500000'],
  ['156.89000000', '70.90000000'],
  ['156.90000000', '17.01700000'],
  ['156.91000000', '4.74000000'],
  ['156.92000000', '38.82800000'],
  ['156.93000000', '602.79300000'],
  ['156.94000000', '41.98900000'],
  ['156.95000000', '448.62700000'],
  ['156.96000000', '0.23400000'],
  ['156.97000000', '851.46500000'],
  ['156.98000000', '637.36000000'],
  ['156.99000000', '17.21600000'],
  ['157.00000000', '5.43500000'],
  ['157.01000000', '0.42700000'],
  ['157.02000000', '5.99600000'],
  ['157.03000000', '0.22600000'],
  ['157.04000000', '0.26300000'],
  ['157.05000000', '17.49100000'],
  ['157.06000000', '0.30800000'],
  ['157.07000000', '17.57700000'],
  ['157.08000000', '6.62400000'],
  ['157.09000000', '2.72000000'],
  ['157.10000000', '17.07300000'],
  ['157.11000000', '7.93400000'],
  ['157.12000000', '0.17400000'],
  ['157.13000000', '4.83900000'],
  ['157.14000000', '641.50900000'],
  ['157.15000000', '0.06800000'],
  ['157.16000000', '0.15600000'],
  ['157.17000000', '0.55300000'],
  ['157.18000000', '508.60200000'],
  ['157.19000000', '0.07500000'],
  ['157.20000000', '704.30400000'],
  ['157.21000000', '1626.39400000'],
  ['157.22000000', '0.10400000'],
  ['157.23000000', '0.14900000'],
  ['157.24000000', '29.20100000'],
  ['157.25000000', '4.96900000'],
  ['157.26000000', '17.22700000'],
  ['157.27000000', '0.37700000'],
  ['157.28000000', '83.67600000'],
  ['157.29000000', '636.29400000'],
  ['157.30000000', '0.30200000'],
  ['157.31000000', '17.63900000'],
  ['157.32000000', '0.15000000'],
  ['157.33000000', '1.13100000'],
  ['157.34000000', '1.40900000']]}

### Calculating orderbook imbalances

In [47]:
orderbook_bid_levels = pd.DataFrame(orderbook_data['bids'], columns=['price', 'quantity'], dtype=float)
orderbook_bid_levels["side"] = "bid"
orderbook_bid_levels

     price  quantity side
0   156.34   725.639  bid
1   156.33   268.481  bid
2   156.32   361.268  bid
3   156.31   422.103  bid
4   156.30   442.819  bid
..     ...       ...  ...
95  155.39     0.485  bid
96  155.38     2.834  bid
97  155.37    88.700  bid
98  155.36   136.849  bid
99  155.35     3.767  bid

[100 rows x 3 columns]

In [48]:
orderbook_ask_levels = pd.DataFrame(orderbook_data['asks'], columns=['price', 'quantity'], dtype=float)
orderbook_ask_levels["side"] = "ask"
orderbook_ask_levels

     price  quantity side
0   156.35   101.096  ask
1   156.36    10.910  ask
2   156.37    54.814  ask
3   156.38   106.364  ask
4   156.39   106.377  ask
..     ...       ...  ...
95  157.30     0.302  ask
96  157.31    17.639  ask
97  157.32     0.150  ask
98  157.33     1.131  ask
99  157.34     1.409  ask

[100 rows x 3 columns]

In [49]:
orderbook_concat = pd.concat([orderbook_bid_levels, orderbook_ask_levels]).sort_values(by="price", ascending=False)
orderbook_concat

     price  quantity side
99  157.34     1.409  ask
98  157.33     1.131  ask
97  157.32     0.150  ask
96  157.31    17.639  ask
95  157.30     0.302  ask
..     ...       ...  ...
95  155.39     0.485  bid
96  155.38     2.834  bid
97  155.37    88.700  bid
98  155.36   136.849  bid
99  155.35     3.767  bid

[200 rows x 3 columns]

In [50]:
threshold = 0.01
mid_price = (max(orderbook_bid_levels['price']) + min(orderbook_ask_levels['price'])) / 2
mid_price

156.345

In [53]:
# Print the values we're comparing
print(f"Highest ask price: {max(orderbook_ask_levels['price'])}")
print(f"Lowest bid price: {min(orderbook_bid_levels['price'])}")

print(f"\nAsk(Upper) threshold: {(1 + threshold) * mid_price}")
print(f"Mid price: {mid_price}")
print(f"Bid(Lower) threshold: {(1 - threshold) * mid_price}")

# check the assertions
print("\nChecking assertions:")
print(f"Is highest ask > upper threshold?: {max(orderbook_ask_levels['price']) > (1 + threshold) * mid_price}")
print(f"Is lowest bid < lower threshold?: {min(orderbook_bid_levels['price']) < (1 - threshold) * mid_price}")

Highest ask price: 157.34
Lowest bid price: 155.35

Ask(Upper) threshold: 157.90845
Mid price: 156.345
Bid(Lower) threshold: 154.78155

Checking assertions:
Is highest ask > upper threshold?: False
Is lowest bid < lower threshold?: False