In [26]:
import pandas as pd
import requests

In [27]:
url = f"https://api.binance.com/api/v3/depth"
params = {
    "symbol": "SOLUSDT",
    "limit": 10
}

In [28]:
orderbook_data = requests.get(url, params=params).json()
orderbook_data

{'lastUpdateId': 26000579506,
 'bids': [['160.61000000', '87.01200000'],
  ['160.60000000', '162.28600000'],
  ['160.59000000', '311.99000000'],
  ['160.58000000', '382.57100000'],
  ['160.57000000', '217.56100000'],
  ['160.56000000', '39.45900000'],
  ['160.55000000', '2.88800000'],
  ['160.54000000', '34.19900000'],
  ['160.53000000', '66.22400000'],
  ['160.52000000', '35.33100000']],
 'asks': [['160.62000000', '427.09800000'],
  ['160.63000000', '414.59300000'],
  ['160.64000000', '277.09800000'],
  ['160.65000000', '299.03000000'],
  ['160.66000000', '808.39800000'],
  ['160.67000000', '1365.67100000'],
  ['160.68000000', '229.25400000'],
  ['160.69000000', '483.26900000'],
  ['160.70000000', '1155.22900000'],
  ['160.71000000', '1169.78100000']]}

In [29]:
ask_levels = pd.DataFrame(orderbook_data['asks'], columns=['price', 'quantity'], dtype=float)
ask_levels["side"] = "ask"
ask_levels = ask_levels.sort_values(by='price')
ask_levels

    price  quantity side
0  160.62   427.098  ask
1  160.63   414.593  ask
2  160.64   277.098  ask
3  160.65   299.030  ask
4  160.66   808.398  ask
5  160.67  1365.671  ask
6  160.68   229.254  ask
7  160.69   483.269  ask
8  160.70  1155.229  ask
9  160.71  1169.781  ask

In [30]:
bid_levels = pd.DataFrame(orderbook_data['bids'], columns=['price', 'quantity'], dtype=float)
bid_levels["side"] = "bid"
bid_levels = bid_levels.sort_values(by='price')
bid_levels

    price  quantity side
9  160.52    35.331  bid
8  160.53    66.224  bid
7  160.54    34.199  bid
6  160.55     2.888  bid
5  160.56    39.459  bid
4  160.57   217.561  bid
3  160.58   382.571  bid
2  160.59   311.990  bid
1  160.60   162.286  bid
0  160.61    87.012  bid

In [31]:
orderbook = pd.concat([bid_levels, ask_levels]).sort_values(by="price", ascending=False)
orderbook

    price  quantity side
9  160.71  1169.781  ask
8  160.70  1155.229  ask
7  160.69   483.269  ask
6  160.68   229.254  ask
5  160.67  1365.671  ask
4  160.66   808.398  ask
3  160.65   299.030  ask
2  160.64   277.098  ask
1  160.63   414.593  ask
0  160.62   427.098  ask
0  160.61    87.012  bid
1  160.60   162.286  bid
2  160.59   311.990  bid
3  160.58   382.571  bid
4  160.57   217.561  bid
5  160.56    39.459  bid
6  160.55     2.888  bid
7  160.54    34.199  bid
8  160.53    66.224  bid
9  160.52    35.331  bid

In [32]:
best_ask = ask_levels['price'].min()
best_bid = bid_levels['price'].max()
bid_ask_spread = best_ask - best_bid
print(f"Best Ask: {best_ask} \nBest Bid: {best_bid} \nBid-Ask Spread: {bid_ask_spread}")

Best Ask: 160.62
Best Bid: 160.61
Bid-Ask Spread: 0.009999999999990905