In [2]:
import pandas as pd
import requests
import plotly.express as px

In [8]:
# Use the correct base URL for Binance Futures API (fapi.binance.com)
url = f"https://fapi.binance.com/fapi/v1/klines"
params = {
    "symbol": "SOLUSDT",
    "interval": "1m",
    "limit": 100
}

try:
    response = requests.get(url, params=params)
    response.raise_for_status() # Raises an HTTPError for bad responses (4xx or 5xx)
    data = response.json()
    print(data)
except requests.exceptions.RequestException as e:
    print(f"Request failed: {e}")
    if 'response' in locals():
        print(f"Response text: {response.text}")

[[1764523200000, '138.8300', '138.8400', '138.7100', '138.7900', '9478.57', 1764523259999, '1315477.924800', 1316, '3547.30', '492278.034000', '0'], [1764523260000, '138.7900', '138.7900', '138.6400', '138.6400', '3854.70', 1764523319999, '534685.873200', 858, '733.72', '101783.342700', '0'], [1764523320000, '138.6400', '138.8100', '138.6200', '138.7600', '5425.41', 1764523379999, '752656.432400', 1105, '3736.08', '518341.622900', '0'], [1764523380000, '138.7600', '138.7800', '138.7200', '138.7600', '2991.16', 1764523439999, '415044.028100', 723, '1432.45', '198763.415400', '0'], [1764523440000, '138.7600', '138.8200', '138.6500', '138.7100', '5593.91', 1764523499999, '775871.281500', 1229, '2593.17', '359656.878700', '0'], [1764523500000, '138.7100', '138.7100', '138.5900', '138.6000', '5000.76', 1764523559999, '693277.514600', 940, '1049.24', '145464.782200', '0'], [1764523560000, '138.6000', '138.7900', '138.5100', '138.6700', '26628.27', 1764523619999, '3692512.726400', 2632, '17628.92', '2444884.455500', '0'], [1764523620000, '138.6700', '138.7100', '138.6600', '138.6700', '3534.97', 1764523679999, '490207.112200', 659, '1660.94', '230330.835800', '0'], [1764523680000, '138.6700', '138.7200', '138.6700', '138.7000', '2636.26', 1764523739999, '365662.851000', 486, '1431.42', '198552.551900', '0'], [1764523740000, '138.7000', '138.7700', '138.6700', '138.7700', '5368.85', 1764523799999, '744681.138100', 567, '3616.62', '501673.650500', '0'], [1764523800000, '138.7700', '138.8700', '138.7600', '138.8400', '8476.93', 1764523859999, '1176927.082800', 1220, '5802.94', '805695.344300', '0'], [1764523860000, '138.8500', '138.8900', '138.8400', '138.8700', '5017.45', 1764523919999, '696783.723300', 768, '3365.49', '467392.039200', '0'], [1764523920000, '138.8700', '138.9100', '138.7200', '138.7200', '6956.95', 1764523979999, '965710.143300', 1023, '2704.14', '375385.303900', '0'], [1764523980000, '138.7200', '138.7400', '138.6800', '138.7300', '9429.77', 1764524039999, '1308003.204700', 1076, '3618.94', '501987.205200', '0'], [1764524040000, '138.7400', '138.7400', '138.5700', '138.5700', '5016.00', 1764524099999, '695529.013000', 1016, '1419.88', '196899.777300', '0'], [1764524100000, '138.5800', '138.5800', '138.3800', '138.4300', '25076.72', 1764524159999, '3471580.662100', 2871, '6586.10', '911799.457700', '0'], [1764524160000, '138.4300', '138.4800', '138.2700', '138.3900', '29239.51', 1764524219999, '4045141.145200', 3024, '8149.20', '1127706.742400', '0'], [1764524220000, '138.4000', '138.4900', '138.3900', '138.4800', '4284.69', 1764524279999, '593150.847500', 1065, '1851.91', '256372.922200', '0'], [1764524280000, '138.4900', '138.5800', '138.4500', '138.5800', '9993.80', 1764524339999, '1384031.442800', 1519, '2930.63', '405923.599500', '0'], [1764524340000, '138.5900', '138.8000', '138.5900', '138.7600', '8073.55', 1764524399999, '1119868.957500', 1561, '5070.33', '703372.247500', '0'], [1764524400000, '138.7600', '138.9300', '138.6900', '138.8600', '18207.49', 1764524459999, '2528099.990600', 2032, '14501.74', '2013763.409700', '0'], [1764524460000, '138.8700', '138.8700', '138.7300', '138.7800', '6263.32', 1764524519999, '869310.683200', 1200, '2271.25', '315243.710500', '0'], [1764524520000, '138.7900', '138.7900', '138.6500', '138.6900', '4204.14', 1764524579999, '583158.538900', 917, '1914.29', '265508.998100', '0'], [1764524580000, '138.6900', '138.7200', '138.6100', '138.6600', '4695.55', 1764524639999, '651036.387800', 863, '1310.60', '181716.775600', '0'], [1764524640000, '138.6600', '138.6800', '138.6100', '138.6700', '3250.10', 1764524699999, '450601.393200', 745, '1068.75', '148188.155700', '0'], [1764524700000, '138.6700', '138.7200', '138.6300', '138.7100', '3115.16', 1764524759999, '431968.234200', 856, '1960.10', '271791.322900', '0'], [1764524760000, '138.7100', '138.7700', '138.4500', '138.4700', '19051.77', 1764524819999, '2640546.355900', 1747, '2419.58', '335367.628200', '0'], [1764524820000, '138.4700', '138.5400', '138.4500', '138.5200', '6664.49', 1764524879999, '922930.415900', 1074, '3824.37', '529610.244000', '0'], [1764524880000, '138.5100', '138.5600', '138.5000', '138.5400', '3758.92', 1764524939999, '520727.428300', 751, '2159.03', '299101.086800', '0'], [1764524940000, '138.5300', '138.6400', '138.5300', '138.5800', '3373.08', 1764524999999, '467428.674300', 1131, '1643.42', '227736.577400', '0'], [1764525000000, '138.5900', '138.5900', '138.4900', '138.5400', '4581.42', 1764525059999, '634639.601000', 888, '1341.05', '185780.283900', '0'], [1764525060000, '138.5400', '138.6500', '138.5400', '138.5900', '6823.56', 1764525119999, '945851.615800', 982, '4184.28', '580040.217700', '0'], [1764525120000, '138.5900', '138.6000', '138.3500', '138.3700', '11610.48', 1764525179999, '1607695.669800', 1555, '2042.14', '282661.959700', '0'], [1764525180000, '138.3700', '138.3900', '138.3400', '138.3700', '4107.79', 1764525239999, '568375.560000', 873, '1927.33', '266681.974900', '0'], [1764525240000, '138.3600', '138.3800', '138.3400', '138.3600', '2951.15', 1764525299999, '408311.357800', 698, '875.17', '121089.490700', '0'], [1764525300000, '138.3600', '138.4000', '138.3400', '138.3500', '3621.63', 1764525359999, '501114.544200', 774, '1709.89', '236592.461900', '0'], [1764525360000, '138.3400', '138.4200', '138.3400', '138.3400', '5694.02', 1764525419999, '787957.337100', 612, '3233.63', '447503.293100', '0'], [1764525420000, '138.3500', '138.3900', '138.3400', '138.3500', '3128.59', 1764525479999, '432874.263800', 439, '1959.22', '271087.630900', '0'], [1764525480000, '138.3500', '138.4000', '138.3400', '138.3900', '2912.09', 1764525539999, '402918.771500', 447, '1062.19', '146965.886500', '0'], [1764525540000, '138.3900', '138.4100', '138.3800', '138.4100', '2623.13', 1764525599999, '363029.790100', 312, '2003.49', '277276.669900', '0'], [1764525600000, '138.4100', '138.4900', '138.3600', '138.4700', '16817.48', 1764525659999, '2327768.029800', 1664, '10135.92', '1402976.555900', '0'], [1764525660000, '138.4700', '138.5100', '138.3900', '138.4900', '14626.10', 1764525719999, '2025130.695900', 1439, '3645.59', '504700.158000', '0'], [1764525720000, '138.4800', '138.5600', '138.4500', '138.5300', '13408.21', 1764525779999, '1857178.239200', 1251, '7157.42', '991410.020400', '0'], [1764525780000, '138.5400', '138.5500', '138.3500', '138.4900', '15742.36', 1764525839999, '2180259.825200', 1617, '6437.43', '891595.895600', '0'], [1764525840000, '138.5000', '138.5600', '138.3000', '138.3200', '15095.05', 1764525899999, '2090138.149900', 1429, '3519.13', '487331.305100', '0'], [1764525900000, '138.3200', '138.3400', '138.1600', '138.2700', '13439.85', 1764525959999, '1857854.031400', 2086, '3799.59', '525226.774000', '0'], [1764525960000, '138.2600', '138.3500', '138.2600', '138.3100', '9832.13', 1764526019999, '1359752.871400', 1155, '6095.65', '842987.891200', '0'], [1764526020000, '138.3100', '138.3100', '138.2100', '138.2400', '6749.05', 1764526079999, '933133.228200', 860, '1507.62', '208397.578600', '0'], [1764526080000, '138.2300', '138.3200', '138.0500', '138.2700', '30265.11', 1764526139999, '4182010.510000', 2610, '13999.99', '1934794.439400', '0'], [1764526140000, '138.2600', '138.2700', '137.9200', '137.9700', '34264.28', 1764526199999, '4729681.418320', 3276, '7799.29', '1076568.071000', '0'], [1764526200000, '137.9800', '138.0400', '137.9000', '138.0300', '17688.89', 1764526259999, '2440414.870700', 1972, '6556.35', '904677.669400', '0'], [1764526260000, '138.0400', '138.0400', '138.0000', '138.0000', '4577.48', 1764526319999, '631762.178700', 918, '1704.40', '235247.120900', '0'], [1764526320000, '138.0000', '138.0200', '137.8800', '137.9500', '23797.84', 1764526379999, '3282857.514500', 1966, '5146.46', '709981.700100', '0'], [1764526380000, '137.9500', '137.9800', '137.9000', '137.9700', '4822.69', 1764526439999, '665291.153800', 772, '2629.22', '362726.372700', '0'], [1764526440000, '137.9800', '138.0200', '137.9500', '137.9500', '5693.98', 1764526499999, '785679.377100', 1024, '2513.34', '346815.771400', '0'], [1764526500000, '137.9600', '138.0000', '137.9500', '137.9800', '2133.64', 1764526559999, '294399.156300', 590, '1592.96', '219800.877200', '0'], [1764526560000, '137.9700', '137.9900', '137.8400', '137.8600', '13981.22', 1764526619999, '1928409.826600', 1356, '8607.14', '1187314.392700', '0'], [1764526620000, '137.8600', '138.0800', '137.7700', '138.0100', '21165.51', 1764526679999, '2919169.030500', 2189, '11867.96', '1637144.223600', '0'], [1764526680000, '138.0200', '138.0600', '137.9700', '138.0100', '10998.36', 1764526739999, '1518038.734400', 1275, '5422.78', '748522.741700', '0'], [1764526740000, '138.0100', '138.0400', '137.9200', '137.9600', '6090.46', 1764526799999, '840281.084500', 939, '2770.76', '382286.337600', '0'], [1764526800000, '137.9600', '138.1100', '137.9500', '138.0200', '12364.97', 1764526859999, '1707073.731900', 1389, '8270.06', '1141800.308800', '0'], [1764526860000, '138.0100', '138.1200', '138.0100', '138.0700', '3712.63', 1764526919999, '512624.297900', 676, '2783.07', '384270.345300', '0'], [1764526920000, '138.0800', '138.0800', '137.9900', '137.9900', '3276.66', 1764526979999, '452284.987700', 495, '585.68', '80842.881900', '0'], [1764526980000, '137.9900', '138.0000', '137.8900', '137.9800', '9265.29', 1764527039999, '1278207.833000', 1257, '4750.79', '655384.876400', '0'], [1764527040000, '137.9900', '138.2200', '137.9800', '138.1600', '8214.63', 1764527099999, '1134659.429700', 1553, '4197.04', '579631.330800', '0'], [1764527100000, '138.1600', '138.1700', '138.1000', '138.1000', '3952.36', 1764527159999, '545933.777400', 700, '1889.35', '260978.790200', '0'], [1764527160000, '138.1000', '138.1700', '138.0900', '138.1400', '3922.12', 1764527219999, '541706.649300', 690, '1941.89', '268198.580900', '0'], [1764527220000, '138.1500', '138.2400', '138.1400', '138.2000', '12681.05', 1764527279999, '1752592.985300', 1054, '6577.72', '909049.654500', '0'], [1764527280000, '138.1900', '138.2000', '138.1400', '138.1700', '6446.13', 1764527339999, '890634.387700', 746, '2193.14', '302999.574500', '0'], [1764527340000, '138.1600', '138.1600', '138.1100', '138.1100', '4787.57', 1764527399999, '661287.040600', 525, '1792.86', '247637.236300', '0'], [1764527400000, '138.1100', '138.1300', '138.0600', '138.0600', '3558.00', 1764527459999, '491343.023400', 406, '657.97', '90874.057000', '0'], [1764527460000, '138.0600', '138.0600', '138.0200', '138.0300', '2944.36', 1764527519999, '406437.691100', 531, '669.55', '92425.209100', '0'], [1764527520000, '138.0200', '138.1400', '138.0100', '138.1400', '6061.99', 1764527579999, '836898.639200', 992, '3890.88', '537228.901600', '0'], [1764527580000, '138.1400', '138.3200', '138.1300', '138.1600', '10867.77', 1764527639999, '1502257.623200', 1562, '7233.49', '999870.077100', '0'], [1764527640000, '138.1600', '138.2200', '138.1500', '138.1500', '2238.90', 1764527699999, '309378.395600', 514, '875.66', '120996.696800', '0'], [1764527700000, '138.1600', '138.1900', '138.1300', '138.1400', '2718.22', 1764527759999, '375561.086700', 689, '1994.92', '275631.705600', '0'], [1764527760000, '138.1500', '138.1700', '138.1000', '138.1500', '3569.28', 1764527819999, '493048.504200', 771, '2217.29', '306296.206200', '0'], [1764527820000, '138.1500', '138.2000', '138.0900', '138.2000', '3067.68', 1764527879999, '423771.486100', 657, '1772.57', '244878.731900', '0'], [1764527880000, '138.2000', '138.2200', '138.1800', '138.2000', '3800.43', 1764527939999, '525220.864300', 520, '1956.07', '270332.593900', '0'], [1764527940000, '138.2100', '138.2200', '138.1800', '138.2100', '2162.10', 1764527999999, '298794.654700', 512, '1342.97', '185593.213300', '0'], [1764528000000, '138.2100', '138.2100', '138.0500', '138.0900', '4931.49', 1764528059999, '681169.194500', 952, '1018.39', '140633.309900', '0'], [1764528060000, '138.0800', '138.0900', '137.9700', '138.0000', '7530.79', 1764528119999, '1039346.607600', 1036, '1215.26', '167712.381000', '0'], [1764528120000, '137.9900', '138.0000', '137.9000', '137.9300', '4888.42', 1764528179999, '674236.319900', 1011, '2405.21', '331754.606400', '0'], [1764528180000, '137.9300', '137.9600', '137.9100', '137.9500', '2282.58', 1764528239999, '314838.215400', 589, '1273.43', '175645.232100', '0'], [1764528240000, '137.9400', '138.0600', '137.9400', '138.0400', '4099.19', 1764528299999, '565775.025600', 719, '2262.32', '312233.855900', '0'], [1764528300000, '138.0400', '138.0400', '138.0000', '138.0200', '2590.95', 1764528359999, '357625.963000', 600, '1589.07', '219339.655200', '0'], [1764528360000, '138.0300', '138.2600', '138.0300', '138.2600', '4199.15', 1764528419999, '580089.707100', 996, '3384.90', '467597.382700', '0'], [1764528420000, '138.2600', '138.3000', '138.2500', '138.2500', '3353.04', 1764528479999, '463634.238900', 685, '2041.49', '282281.017800', '0'], [1764528480000, '138.2600', '138.2600', '138.2100', '138.2400', '3851.22', 1764528539999, '532350.116400', 641, '1485.87', '205392.180900', '0'], [1764528540000, '138.2300', '138.3100', '138.2300', '138.3000', '3242.65', 1764528599999, '448370.582900', 519, '2664.53', '368419.166900', '0'], [1764528600000, '138.2900', '138.3200', '138.2700', '138.2800', '6896.87', 1764528659999, '953750.185700', 888, '2329.77', '322181.629800', '0'], [1764528660000, '138.2800', '138.4800', '138.2800', '138.4800', '11239.85', 1764528719999, '1555480.540600', 1305, '9193.96', '1272251.979700', '0'], [1764528720000, '138.4700', '138.4800', '138.4600', '138.4700', '2113.39', 1764528779999, '292642.665200', 392, '978.77', '135534.420000', '0'], [1764528780000, '138.4600', '138.5500', '138.4600', '138.5500', '8704.81', 1764528839999, '1205726.302300', 1070, '6661.12', '922650.553200', '0'], [1764528840000, '138.5500', '138.5500', '138.4600', '138.4600', '2614.95', 1764528899999, '362200.517900', 540, '1024.49', '141898.984700', '0'], [1764528900000, '138.4600', '138.5100', '138.4500', '138.5100', '4958.21', 1764528959999, '686542.723900', 610, '3246.94', '449590.631700', '0'], [1764528960000, '138.5100', '138.5600', '138.5100', '138.5600', '5441.33', 1764529019999, '753812.696400', 611, '4588.92', '635725.242600', '0'], [1764529020000, '138.5600', '138.5800', '138.5300', '138.5300', '3147.49', 1764529079999, '436126.411600', 443, '1587.71', '220001.549600', '0'], [1764529080000, '138.5300', '138.5700', '138.5300', '138.5600', '1964.09', 1764529139999, '272124.359300', 364, '1115.30', '154521.562700', '0'], [1764529140000, '138.5600', '138.5600', '138.5500', '138.5600', '66.55', 1764529199999, '9221.164300', 17, '66.18', '9169.900800', '0']]

In [11]:
df_raw = pd.DataFrame(data)
df_raw.columns = [
    "open_time", "open", "high", "low", "close", "volume",
    "close_time", "quote_asset_volume", "number_of_trades",
    "taker_buy_base_asset_volume", "taker_buy_quote_asset_volume", "ignore"
]
df_raw

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,1764523200000,138.8300,138.8400,138.7100,138.7900,9478.57,1764523259999,1315477.924800,1316,3547.30,492278.034000,0
1,1764523260000,138.7900,138.7900,138.6400,138.6400,3854.70,1764523319999,534685.873200,858,733.72,101783.342700,0
2,1764523320000,138.6400,138.8100,138.6200,138.7600,5425.41,1764523379999,752656.432400,1105,3736.08,518341.622900,0
3,1764523380000,138.7600,138.7800,138.7200,138.7600,2991.16,1764523439999,415044.028100,723,1432.45,198763.415400,0
4,1764523440000,138.7600,138.8200,138.6500,138.7100,5593.91,1764523499999,775871.281500,1229,2593.17,359656.878700,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,1764528900000,138.4600,138.5100,138.4500,138.5100,4958.21,1764528959999,686542.723900,610,3246.94,449590.631700,0
96,1764528960000,138.5100,138.5600,138.5100,138.5600,5441.33,1764529019999,753812.696400,611,4588.92,635725.242600,0
97,1764529020000,138.5600,138.5800,138.5300,138.5300,3147.49,1764529079999,436126.411600,443,1587.71,220001.549600,0
98,1764529080000,138.5300,138.5700,138.5300,138.5600,1964.09,1764529139999,272124.359300,364,1115.30,154521.562700,0
99,1764529140000,138.5600,138.5600,138.5500,138.5600,66.55,1764529199999,9221.164300,17,66.18,9169.900800,0

In [14]:
# --- DataFrame 1: Opening Data ---
df_open = df_raw[['open_time', 'open']].copy() 
df_open.columns = ['opening_time', 'opening_price']

# 1. Convert 'opening_time' from Unix timestamp (ms) to readable datetime objects
# 2. Convert 'opening_price' from string to float for numerical analysis
df_open['opening_time'] = pd.to_datetime(df_open['opening_time'], unit='ms')
df_open['opening_price'] = df_open['opening_price'].astype(float)
df_open

          opening_time  opening_price
0  2025-11-30 17:20:00         138.83
1  2025-11-30 17:21:00         138.79
2  2025-11-30 17:22:00         138.64
3  2025-11-30 17:23:00         138.76
4  2025-11-30 17:24:00         138.76
..                 ...            ...
95 2025-11-30 18:55:00         138.46
96 2025-11-30 18:56:00         138.51
97 2025-11-30 18:57:00         138.56
98 2025-11-30 18:58:00         138.53
99 2025-11-30 18:59:00         138.56

[100 rows x 2 columns]

In [15]:
# --- DataFrame 2: Closing Data ---
df_close = df_raw[['close_time', 'close']].copy()
df_close.columns = ['closing_time', 'closing_price']

# Data Type Conversion:
# 1. Convert 'closing_time' from Unix timestamp (ms) to readable datetime objects
# 2. Convert 'closing_price' from string to float
df_close['closing_time'] = pd.to_datetime(df_close['closing_time'], unit='ms')
df_close['closing_price'] = df_close['closing_price'].astype(float)
df_close

              closing_time  closing_price
0  2025-11-30 17:20:59.999         138.79
1  2025-11-30 17:21:59.999         138.64
2  2025-11-30 17:22:59.999         138.76
3  2025-11-30 17:23:59.999         138.76
4  2025-11-30 17:24:59.999         138.71
..                     ...            ...
95 2025-11-30 18:55:59.999         138.51
96 2025-11-30 18:56:59.999         138.56
97 2025-11-30 18:57:59.999         138.53
98 2025-11-30 18:58:59.999         138.56
99 2025-11-30 18:59:59.999         138.56

[100 rows x 2 columns]